.intro {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    max-width: 1280px;
    width: 100%;
    margin: 150px auto;
    padding: 20px 0;
    box-sizing: border-box;

    & .intro_text {
        max-width: 500px;
        width: 100%;

        & h1 {
            font-size: 70px;
            margin: 0;
            font-weight: 500;
        }

        & h2 {
            font-size: 50px;
            margin: 0;
            font-weight: 400;
        }

        & p {
            max-width: 500px;
            font-size: 20px;
            font-weight: 300;
            width: 100%;
        }
    }

    & .intro_img {
        display: flex;
        justify-content: center;
        border: 1px solid white;
        border-radius: 5px;
        box-shadow: 0px 2px 2px 0px rgb(0, 0, 0);
        background-color: #222222;
        margin: 0 20px 0 0;
        max-width: 500px;
        max-height: 400px;
        width: 100%;
        height: 100%;
        object-fit: cover;

        & img {
            max-width: 500px;
            max-height: 450px;
            object-fit: cover;
        }
    }

    // Pour les écrans de taille moyenne (tablettes)
    @media (max-width: 1024px) {

        flex-direction: column; // Passe les éléments en colonne
        align-items: center;
        text-align: left;

        & .intro_text h1 {
            font-size: 50px; // Réduit la taille de la police
        }

        & .intro_text h2 {
            font-size: 40px;
        }

        & .intro_text p {
            font-size: 18px;
        }

        & .intro_img {
            width: 100%; // Utilise toute la largeur disponible
            height: auto; // Laisse l'image s'adapter à la hauteur
            margin: 20px 0; // Ajoute de l'espacement en haut et en bas
        }
    }

    // Pour les petits écrans (smartphones)
    @media screen and (min-width: 320px) and (max-width: 768px) {
        padding: 10px;
        margin: 20px auto;
        
        & .intro_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & h1 {
                font-size: 32px;
                text-align: center;
            }

            & h2 {
                text-align: center;
                font-size: 24px;
            }

            & p {
                text-align: center;
                font-size: 14px;
                max-width: 280px;
                margin: 10px 0 0 0;
            }
        }

        & .intro_img {
            width: fit-content; // Occupe 90% de la largeur de l'écran
            margin: 20px 0;

            & img {
                max-width: 300px;
                max-height: 250px;
                object-fit: cover;
            }
        }
    }
}
