header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: white;
    border-bottom: 1px solid white;

    & .logo {
        display: flex;
        gap: 15px;

        & img {
            height: 50px;
            border-radius: 50%;
            border: 2px solid green;
        }

        & .logo_name {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & p {
                margin: 0;
                font-size: 15px;
                font-weight: 400;
            }

            & .name {
                font-weight: 400;
                font-size: 18px;
            }
        }
    }

    & nav ul {
        display: flex;
        list-style-type: none;
        gap: 30px;

        & button {
            text-decoration: none;
            border: none;
            font-weight: 400;
            background-color: transparent;
            font-size: 18px;
            color: white;
            cursor: pointer;
        }
    }
    
    .menu-toggle {
        display: none;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    // Styles pour les écrans de petite taille
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 40px;
        gap: 20px;

        .logo {
            justify-content: center;
            width: 100%;

            & img {
                height: 40px;
            }

            & .logo_name .name {
                font-size: 16px;
            }
        }

        & nav {
            width: 100%;
        }

        nav ul {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            width: 100%;
            display: none; // Masquer le menu sur mobile par défaut
            padding: 0;

            &.active {
                display: flex; // Afficher le menu lorsque l'utilisateur clique pour l'ouvrir
                width: 100%;
            }

            & button {
                font-size: 16px;
            }
        }
    }

    
    @media (max-width: 768px) {
        .menu-toggle {
            display: block;
            margin-left: auto;
        }
    }

    // Styles pour les écrans de très petite taille
    @media (max-width: 480px) {
        padding: 15px;

        .logo_name .name {
            font-size: 14px;
        }

        nav ul button {
            font-size: 14px;
        }
    }
}
